a{
  text-decoration:none !important;
}
/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #DA2535;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #FEFBFB;
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}



/*========== Theme ==========*/

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

#order-now-sam{
  cursor: pointer;
}
h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-title-center{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.l-main{
  overflow: hidden;
}

.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-3);
}

.nav__link, .nav__logo{
  color: rgb(0, 0, 0);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover{
  color: rgb(97, 97, 97);
}

.nav__link{
  transition: .5s;
}

.nav__link:hover{
  color: rgb(97, 97, 97);
}
.sign-in-btn-nav{
  background-color: #161212;
  color: #FFF;
  padding: 5px 12px;
  border-radius: 10px;
}

.sign-in-btn-nav:hover{
  background-color: #ffffff;
  color: #050505;
}
.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: calc(var(--header-height) + 1rem);
}


/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(0, 255, 0, 0.575);
  border-radius: .4rem;
  z-index: 6969;
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color);
}

.scrolltop__icon{
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container{
  row-gap: .5rem;
}

.home__img{
  width: 280px;
  justify-self: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home__description{
  margin-bottom: var(--mb-3);
}

/*========== BUTTONS ==========*/
.landing-button{
  display: inline-block;
  background-color: #F9F2B9;
  color: #333;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 0px black;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.landing-button:hover{
  background-color: #fff;
}

.landing-button-link{
  background: none;
  padding: 10px;
  color: black !important;
  background-color: #F9F2B9;
}

.landing-button-link:hover{
  background-color: transparent;
  color: black;
}

/*========== food-fact ==========*/
.food-fact__data{
  text-align: center;
}

.food-fact__description{
  margin-bottom: var(--mb-2);
}

.landing-s2-main__img{
  width: 280px;
  justify-self: center;
}

/*========== order-landing ==========*/
.order-landing__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.order-landing__data{
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  border-radius: 1rem;
}

.order-landing__data:hover{
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.order-landing__img{
  width: 180px;
}

.order-landing__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo{
  color: var(--title-color);
}

.footer__title{
  margin-bottom: var(--mb-2);
}

.footer__logo, .footer__title{
  font-size: var(--h3-font-size);
}

.footer__link{
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
}

.footer__link:hover{
  color: rgba(0, 255, 0, 0.575);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover{
  color: grey;
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px){
  .home__img,
  .landing-s2-main__img,
  .send__img{
    width: 100%;
  }
}

@media screen and (min-width: 576px){
  .home__container,
  .food-fact__container,
  .send__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .home__container{
    padding: 5rem 0 0;
  }

  .home__img{
    order: 1;
  }

  .section-title-center,
  .food-fact__data,
  .send__description{
    text-align: initial;
  }

  .home__img,
  .landing-s2-main__img,
  .send__img{
    width: 100%;
  }
  
  .landing-s2-main__img{
    order: -1;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 7rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list{
    display: flex;
    align-items: center;
  }

  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container{
    padding: 7rem 2rem 0;
  }

  .food-fact__container{
    padding: 0 2rem;
  }


  .send{
    background: none;
  }

  .send__container{
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .landing-s2-main__img,
  .send__img{
    width: 469px;
  }

  .home__container,
  .food-fact__container,
  .send__container{
    column-gap: 5rem;
  }
}
