/* -------- MenuPage By Naima --------- */
.menu-naima {
  display: none;
}

/* Summer Sale */
:root {
  --swiper-theme-color: black;
}

.menu-ss-container {
  margin-top: 5rem;
  width: 100%;
  height: 50vh;
}

.swiper {
  width: 75%;
  height: 100%;
}

.mySwiper {
  border-radius: 2rem;
}

.ss-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #e8e3bd, #e3d253);
}

.ss-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 8%;
}

.ss-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.ss-text p {
  font-size: 1.2rem;
  font-weight: 600;
}

.ss-btn {
  background-color: #f8f0b1;
  padding: 1rem 2rem;
  margin-top: 10%;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 0px black;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
}

.ss-btn:hover {
  cursor: pointer;
  background-color: #ece087;
  border: 1px solid #cdc166;
  transform: translateY(-2px);
  box-shadow: 4px 4px 7px rgba(6, 6, 6);
}

.ss-img-container {
  width: 40%;
  height: 70%;
  position: relative;
}

.ss-img {
  width: 40rem;
  position: absolute;
  right: 1rem;
  top: -3rem;
}

.swiper-button-next {
  margin-right: 1rem;
}

.swiper-button-prev {
  margin-left: 1rem;
}

/* Menu Heading */
.menu-heading {
  margin: 2% 0;
}

.menu-title {
  text-align: center;
  font-size: 2rem;
  line-height: 2.3;
}

.menu-line {
  height: 3px;
  width: 150px;
  background-color: #e3da89;
  margin: -13px auto;
}

/* Menu Buttons */
.dropdown {
  display: none;
}

.menu-btn-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu-btn {
  background-color: white;
  padding: 0.6rem 1rem;
  margin: 5% 0;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 0px black;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
}

.menu-btn:hover {
  cursor: pointer;
  background-color: #bae598;
  border: 1px solid #8fba6e;
  transform: translateY(-2px);
  box-shadow: 4px 4px 7px rgba(6, 6, 6);
}

.menu-clicked-btn {
  background-color: #bae598;
  color: black;
  border: 1px solid #8fba6e;
}

/* Menu Items */
.m-items-slide2,
.m-items-slide3,
.m-items-slide4,
.m-items-slide5,
.m-items-slide6 {
  display: none;
}

.m-items-container {
  width: 80%;
  margin: 5% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 29px 39px;
  position: relative;
}

.dish-img-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
}

.dish-new {
  position: relative;
  width: 60px;
  top: -50px;
  left: -80px;
  z-index: 1;
  transition: 0.3s;
}

.dish-img {
  height: 10rem;
  position: absolute;
  transition: 0.3s;
}

.dish-text-container {
  height: 300px;
  width: 230px;
  background: linear-gradient(to top, #f4edb9, #ccb503);
  box-shadow: 3px 3px 9px 0px rgba(6, 6, 6);
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: flex-end;
  z-index: -1;
  text-align: right;
  padding: 9% 5%;
  border-radius: 5%;
  transition: 0.3s;
}

/* Dark Mode */
.dark-theme .dish-price,
.dark-theme .dish-name {
  color: #fff;
  /* Set the text color to white */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.dish-price {
  font-size: 0.85rem;
  font-weight: 600;
  color: rgb(70, 69, 69);
  transition: 0.3s;
}

.dish-name {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  transition: 0.3s;
}

.dish:hover {
  cursor: pointer;
}

.dish:hover .dish-new {
  width: 65px;
}

.dish:hover .dish-img {
  height: 10.7rem;
}

.dish:hover .dish-text-container {
  box-shadow: 4px 4px 10px 1px black;
}

.dish:hover .dish-price {
  font-size: 0.89rem;
}

.dish:hover .dish-name {
  font-size: 1.03rem;
}

.dish>.bx {
  position: absolute;
  font-size: 24px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.dish>.bx-heart {
  color: rgb(226, 79, 79); /* Changed hover effect of heart color */
  animation: heart-hovered-animate 0.3s linear;
}

@keyframes heart-hovered-animate {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.dish>.bxs-heart {
  color: red;
  animation: heart-liked-animate 0.5s ease;
}

@keyframes heart-liked-animate {
  0% {
    transform: scale(1.2);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Media Queries */
@media screen and (min-width: 770px) and (max-width: 1024px) {
  .menu-ss-container {
    height: 40vh;
  }

  .swiper {
    width: 85%;
  }

  .ss-text {
    margin: auto 4%;
  }

  .ss-text h1 {
    font-size: 1.9rem;
    font-weight: bold;
  }

  .ss-text p {
    font-size: 1rem;
    font-weight: 600;
  }

  .ss-btn {
    padding: 0.6rem 1.3rem;
    font-size: 1.1rem;
  }

  .ss-img {
    right: -1rem;
    top: -2rem;
  }

  .swiper-button-next {
    margin-right: 0.1rem;
  }

  .swiper-button-prev {
    margin-left: 0.1rem;
  }

  .menu-title {
    font-size: 1.8rem;
  }

  .menu-btn {
    padding: 0.45rem 0.75rem;
    font-weight: bold;
    font-size: 0.85rem;
  }

  .m-items-container {
    width: 90%;
  }
}

@media screen and (min-width: 421px) and (max-width: 769px) {
  .menu-ss-container {
    height: 35vh;
  }

  .swiper {
    width: 90%;
  }

  .ss-text {
    margin: auto 4%;
  }

  .ss-text h1 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .ss-text p {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .ss-btn {
    padding: 0.6rem 1.3rem;
    font-size: 0.95rem;
  }

  .ss-img {
    right: 1rem;
    top: -2rem;
  }

  .swiper-button-next {
    margin-right: 0.1rem;
  }

  .swiper-button-prev {
    margin-left: 0.1rem;
  }

  .menu-title {
    font-size: 1.7rem;
  }

  .menu-btn-container {
    display: none;
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3rem;
  }

  .select {
    width: 40%;
    background: linear-gradient(to top, #3f9056, #298844);
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #46955c;
    box-shadow: 1px 1px 4px 0 black;
    border-radius: 0.5rem;
    padding: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .select:hover {
    background: #ade08b;
    color: black;

    .caret {
      border-top: 6px solid black;
    }
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    transition: 0.3s;
  }

  .caret-rotate {
    transform: rotate(180deg);
  }

  .menu-dd {
    list-style: none;
    padding: 0.2rem 0.5rem;
    border: 1px solid black;
    box-shadow: 1px 1px 4px 0 whitesmoke;
    background-color: #ade08b;
    border-radius: 0.5rem;
    color: black;
    position: absolute;
    top: 3rem;
    left: 50%;
    width: 40%;
    transform: translateX(-50%);
    display: none;
    transition: 0.2s;
    z-index: 2;
  }

  .menu-dd li {
    padding: 0.7rem 0.5rem;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .menu-dd li:hover {
    background-color: #c6fba2;
  }

  .active-menu {
    background-color: #46955c;
    color: white;
  }

  .menu-open {
    display: block;
    opacity: 1;
  }

  .m-items-container {
    width: 97%;
  }
}

@media screen and (max-width: 420px) {
  .menu-ss-container {
    height: 35vh;
  }

  .swiper {
    width: 90%;
  }

  .ss-text {
    margin: auto 2%;
  }

  .ss-text h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .ss-text p {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .ss-btn {
    padding: 0.6rem 1.3rem;
    font-size: 0.85rem;
  }

  .ss-img {
    right: 0rem;
    top: 1.5rem;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .menu-title {
    margin-top: 5%;
    font-size: 1.6rem;
  }

  .menu-btn-container {
    display: none;
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3rem;
  }

  .select {
    width: 70%;
    background: linear-gradient(to top, #3f9056, #298844);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #46955c;
    box-shadow: 1px 1px 4px 0 black;
    border-radius: 0.5rem;
    padding: 0.6rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .select:hover {
    background: #ade08b;
    color: black;

    .caret {
      border-top: 6px solid black;
    }
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    transition: 0.3s;
  }

  .caret-rotate {
    transform: rotate(180deg);
  }

  .menu-dd {
    list-style: none;
    padding: 0.1rem 0.4rem;
    border: 1px solid black;
    box-shadow: 1px 1px 4px 0 whitesmoke;
    background-color: #ade08b;
    border-radius: 0.5rem;
    color: black;
    position: absolute;
    top: 3rem;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    display: none;
    transition: 0.2s;
    z-index: 2;
  }

  .menu-dd li {
    padding: 0.7rem 0.5rem;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .menu-dd li:hover {
    background: #c6fba2;
  }

  .active-menu {
    background: #46955c;
    color: white;
  }

  .menu-open {
    display: block;
    opacity: 1;
  }

  .m-items-container {
    width: 97%;
  }
}