@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Forum&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: white; /* Set default text color to white */
}

body {
  background-image: url("../assets/healthyhappyfood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  font-size: 1rem;
}

a {
  color: yellowgreen;
  text-decoration: none;
}

.reservation {
  vertical-align: middle;
  padding: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 2rem;
  background-color: rgb(8, 8, 8, 0.9);
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.5);
}

.reservation-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.form-left,
.form-right {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.headline-1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.form-text {
  margin-bottom: 2rem;
}

.link {
  color: yellowgreen;
  text-decoration: none;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-field {
  width: 100%;
  padding: 1rem 0;
  margin: 0.5rem 0;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-field:hover,
.input-field:focus {
  border-color: yellowgreen;
  box-shadow: 0 0 5px yellowgreen;
}

.input-select {
  appearance: none;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-select option {
  color: #333;
}

.input-select:hover,
.input-select:focus {
  border-color: yellowgreen;
  box-shadow: 0 0 5px yellowgreen;
}

.icon-wrapper {
  position: relative;
  width: 32%;
}

.btn {
  display: inline-block;
  border-radius: 2rem;
  background-color: yellowgreen;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: yellowgreen;
}

.hover-underline:hover {
  text-decoration: underline;
}

.separator {
  height: 1px;
  background-color: #fff;
  margin: 1rem 0;
}

.contact-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.body-4 {
  margin-bottom: 1.5rem;
  color: grey;
}
.body-4 i {
  margin-right: 10px;
}

.form-right {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-label,
.body-4 {
  color: white;
}

.animated {
  transition: transform 0.3s ease;
}

.animated:hover {
  transform: scale(1.05);
}

button {
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  color: black;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: #fff;
}
