@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif !important;
}

#close-sam-section {
  width: fit-content;
  background-color: black;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
}

#close-sam-section p {
  color: white;
}

.close-icon {
  font-size: 24px;
  line-height: 24px;
  transform: rotate(45deg);
}

.container-sam {
  width: 100%;
  height: 600px;
  background-color: #fdfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 69;
  gap: 8px;
  position: absolute;
}

.container-sam-wrapper {
  position: relative;
  width: 100%;
  max-width: 432px;
  height: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}

.main-head-sam {
  overflow: hidden;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 16px 24px #eaeaea;
}

.head-content-sam {
  width: 100%;
  background-color: #f9f2b9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 0;
}

.head-content-sam i {
  font-size: 1.69rem;
  color: #aea76f;
}

#search-box-sam {
  width: 80%;
  border-radius: 99px;
  /* 99px for max without having to use 50% which can cause a visual bug */
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 1rem;
  font-family: Poppins;
  color: #6d6840;
  background-color: #e8e0a1;
}

#search-box-sam::placeholder {
  color: #6d6840;
}

.food-items-sam {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  overflow-y: scroll;
  padding: 5px 0;
}

.food-content-sam {
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 10px;
  position: relative;
}

.food-content-sam img {
  width: 75px;
  height: 75px;
  z-index: 1;
}

.food-content-sam-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid black;
  border-radius: 12px;
  padding: 8px;
}

.description-sam {
  display: flex;
  flex-direction: column;
}

.description-sam h3 {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 !important;
  text-align: left;
}

.description-sam p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 !important;
  color:black;
}

.item-sam {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.item-sam button {
  border: none;
  outline: none;
  border-radius: 99px;
  background-color: black;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
}

.container-sam {
  display: none;
  transition: 0.49s ease-in-out;
}

.container-sam.active-sam {
  display: flex;
  transition: 0.49s ease-in-out;
}

.order-sam {
  padding: 10px 20px;
  font-size: 24px;
  margin: 50px;
}

.quantity {
  width: 32px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color:black;
}

.checkout-sam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 16px 24px #eaeaea;
  padding: 16px;
  gap: 8px;
}

.checkout-sam h1 {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 0px;
}

#totalPrice {
  font-weight: 500;
}

.checkout-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.text-content-sam {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid black; */
  border-radius: 12px;
}

.checkout-btn-sam {
  width: 100%;
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.checkout-btn-sam:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#order-sam {
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1280px) and (min-width: 1024px) {}

@media (max-width: 1024px) and (min-width: 780px) {}

@media (max-width: 780px) and (min-width: 612px) {}

@media (max-width: 612px) {}