@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif !important;
}

#close-sam-section {
  cursor: pointer;
  justify-self: flex-end;
  padding: 20px;
  margin-inline-start: auto;
  background-color: #f9f2b9;
  color: #f9f2b9;
}

#closeh1id {
  width: 90%;
  height: 12%;
  display: flex;
  align-items: stretch;
  margin-block-end: auto;
  background-color: #f9f2b9;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: Poppins;
}

#closeh1id >div {
  text-align: center;
  justify-items: center;
 }

 #closeh1center {
  padding-top: 25px;
}

#close-sam-section p {
  color: white;
}

.close-icon {
  font-size: 24px;
  line-height: 24px;
  transform: rotate(45deg);
}

.container-sam {
  width: 100%;
  background-color: #fdfbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 69;
  gap: 10px;
  position: absolute;
  margin-top: 100px; 
  height: 800px;
  overflow:hidden;
}

.container-sam-wrapper {
  position: relative;
  width: 100%;
  max-width: 432px;
  height: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}

.main-head-sam {
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 40%;
  height: 90%;
  padding: 20px;  
}

.head-content-sam {
  border-radius: 10px;
  height: 13%;
  width: 100%;
  background-color: #f9f2b9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 20px;
  border-bottom: 1px solid grey;
}

.head-content-sam i {
  font-size: 1.69rem;
  /* color: #aea76f; */
}

#search-box-sam {
  width: 80%;
  border-radius: 99px;
  /* 99px for max without having to use 50% which can cause a visual bug */
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: "Poppins" ;
  padding:10px 10px ;

  height: 65%;
}

#search-box-sam::placeholder {
  color: #6d6840;
}

.food-items-sam {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  overflow-y: scroll;
  padding: 5px 0;
}

.food-content-sam {
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 30%;
  padding: 10px;
}

.food-content-sam img {
  height: 110%;
  z-index: 1;
}

.food-content-sam-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 70%;
  border: 1px solid black;
  border-radius: 12px;
  position: absolute;
  left: 22%;
  padding: 10px;
  box-shadow: 0px 0px 2px 1px black;
}

.description-sam {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  height: 70%;
  padding-left: 15%;
}

.description-sam h3 {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 !important;
  text-align: left;
}

.description-sam p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 !important;
}

.item-sam {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.item-sam button {
  border: none;
  outline: none;
  border-radius: 99px;
  background-color: black;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
}

.container-sam {
  display: none;
  transition: 0.49s ease-in-out;
}

.container-sam.active-sam {
  display: flex;
  transition: 0.49s ease-in-out;
}

.order-sam {
  padding: 10px 20px;
  font-size: 24px;
  margin: 50px;
}

.quantity {
  width: 32px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.checkout-sam {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 5%;
  padding: 1.5% 0;
  width: 40%;
  height: 90%;
}

.checkout-sam h1 {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 0px;
}

#totalPrice {
  font-weight: 500;
}

.checkout-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.text-content-sam {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 80%;
  padding: 10px 20px;
  border: 2px solid black;
}

.checkout-btn-sam {
  height: max-content;
  width: 50%;
  background-color: black;
  color: white;
  padding: 3% 5%;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.checkout-btn-sam:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#order-sam {
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1280px) and (min-width: 1024px) {}

@media (max-width: 1024px) and (min-width: 780px) {}

@media (max-width: 780px) and (min-width: 612px) {}

@media (max-width: 612px) {}